@{
    ViewBag.Title = "Home Page";
}

<div id="HomeContent">
    <div id="MyCMSandboxAccount">
    </div>
    <div id="ManageContacts">
        <div id="CreateContact">
        </div>
        <div id="ViewContact">
        </div>
        <div id="RemoveContact">
        </div>
        <div id="UpdateContact">
        </div>
    </div>
</div>
