@{
    ViewBag.Title = "Home Page";
}

<div id="HomeContent" class="container">
    <div class="row">
        <div id="MyCMSandboxAccount" class="col-sm-4">
            <h3>MyAccount</h3>
        </div>
        <div id="ManageContacts" class="col-sm-4">
            <h3>Manage Contacts</h3>

        </div>
        <div id="AnotherCategory" class="col-sm-4">
            <h3>Another Category</h3>
        </div>
    </div>
</div>
